@charset "UTF-8";

#id-container{
	background-color: white; 
	height: 60px;
}

#id-div-logo{
	margin-left:0px;
}

#id-logo{
	height: 50px;
}

#id-div-input-rechercher{
	margin-left: 40px;
}

#id-btn-rechercher{
	color: white; 
	border-color: #F4672c;
	background-color: #F4672c;
}

#id-input-rechercher{
	width: 450px;
	border-color:  #F4672c;
}

#btn-color{
	margin-left: 30px; 
	height: 40px;
}

#btn-compte{
	background-color: white; 
	color: black; 
	border: none;
}

#btn-compte-icon{
	 float: left;
}

#btn-compte-span{
	float: left; 
	margin-left: 5px;
}

#id-div-aide{
	margin-left: 10px; 
	height: 40px;
}

#id-btn-aide{
	background-color: white; 
	color: black; 
	border: none;
}

#id-btn-aide-icon{
	float: left;
}

#id-btn-aide-span{
    float: left; 
	margin-left: 5px;
}

#id-div-panier{
	margin-left: 20px;
}

#id-a-panier{
	color: black;
	text-decoration: none;
}

#id-nb-panier{
	position: relative;
	right:20px;
	bottom:10px;
	color: white;
	background-color: #F4672c;
}

#id-panier{
	position: relative;
	right:20px;
} 

.categorie{
	width:100%;
	position: relative;
	left:10px;
	border:none;
}

.categorie-carouel{
	position: relative;
	top:20px;
}

.bordure-categorie{
	position: relative;
	left:5px;
}

#list-tab a{
	border-width: 0px;
	height: 41px;
}